# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

### Step 4. See the first 10 entries

In [46]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [47]:
# Solution 1
len(chipo)

4622

In [48]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [49]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [50]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [51]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [52]:
chipo[["item_name", "quantity"]].groupby(by="item_name").agg("sum").sort_values(by="quantity", ascending = False).head(1)

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [53]:
chipo[["item_name", "quantity"]].groupby(by="item_name").agg("sum").sort_values(by="quantity", ascending = False).head(1)

              quantity
item_name
Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [54]:
chipo[["quantity", "choice_description"]].groupby(by="choice_description").agg("count").sort_values(by="quantity", ascending = False).head(1)

                    quantity
choice_description
[Diet Coke]              134

### Step 12. How many items were orderd in total?

In [55]:
chipo["quantity"].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [56]:
chipo["item_price"].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [0]:
def to_float(x):
  x = float(x.replace("$", ""))
  return x

In [0]:
chipo["item_price"] = chipo["item_price"].apply(lambda row: to_float(row))

#### Step 13.c. Check the item price type

In [64]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [67]:
(chipo["item_price"] * chipo["quantity"]).sum()

39237.02

### Step 15. How many orders were made in the period?

In [32]:
chipo["order_id"].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [68]:
# Solution 1
(chipo["item_price"] * chipo["quantity"]).sum() / chipo["order_id"].nunique()

21.39423118865867

In [0]:
# Solution 2

### Step 17. How many different items are sold?

In [31]:
chipo["item_name"].nunique()

50